*                    text=auto
/bin                 export-ignore
/tests               export-ignore
/.gitattributes      export-ignore
/.gitignore          export-ignore
/.gitlab-ci.yml      export-ignore
/phpunit.xml         export-ignore
/phpunit.ci.xml      export-ignore
