*                         text=auto
/.github                  export-ignore
/tests                    export-ignore
/.gitattributes           export-ignore
/.gitignore               export-ignore
/.php-cs-fixer.php        export-ignore
/box.json                 export-ignore
/codecov.yml              export-ignore
/composer.lock            export-ignore
/CODEOWNERS               export-ignore
/phpstan.neon             export-ignore
/phpunit.xml              export-ignore
/phpunit.coverage.xml     export-ignore
/rector.php               export-ignore
/renovate.json            export-ignore
