includes:
    - vendor/jangregor/phpstan-prophecy/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    level: 8
    paths:
        - src
        - tests
    treatPhpDocTypesAsCertain: false
