includes:
    - vendor/jangregor/phpstan-prophecy/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    level: max
    paths:
        - bin/cache-warmup
        - src
        - tests
    treatPhpDocTypesAsCertain: false
    symfony:
        consoleApplicationLoader: tests/Build/console-application.php
