parameters:
	ignoreErrors:
		-
			message: "#^Instanceof between EliasHaeussler\\\\CacheWarmup\\\\Sitemap\\\\Sitemap and EliasHaeussler\\\\CacheWarmup\\\\Sitemap\\\\Sitemap will always evaluate to true\\.$#"
			count: 1
			path: src/CacheWarmer.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$constructors of method CuyZ\\\\Valinor\\\\MapperBuilder\\:\\:registerConstructor\\(\\) expects \\(pure\\-callable\\(\\)\\: mixed\\)\\|class\\-string, Closure\\(string\\)\\: EliasHaeussler\\\\CacheWarmup\\\\Sitemap\\\\Sitemap given\\.$#"
			count: 1
			path: src/Config/Adapter/ConfigMapperFactory.php

		-
			message: "#^Parameter \\#3 \\.\\.\\.\\$constructors of method CuyZ\\\\Valinor\\\\MapperBuilder\\:\\:registerConstructor\\(\\) expects \\(pure\\-callable\\(\\)\\: mixed\\)\\|class\\-string, Closure\\(string\\)\\: EliasHaeussler\\\\CacheWarmup\\\\Sitemap\\\\Url given\\.$#"
			count: 1
			path: src/Config/Adapter/ConfigMapperFactory.php

		-
			message: "#^Parameter \\#1 \\$crawler of method EliasHaeussler\\\\CacheWarmup\\\\Crawler\\\\CrawlerFactory\\:\\:get\\(\\) expects class\\-string\\<EliasHaeussler\\\\CacheWarmup\\\\Crawler\\\\Crawler\\>, string given\\.$#"
			count: 1
			path: src/Config/Adapter/ConsoleInputConfigAdapter.php

		-
			message: "#^Parameter \\#1 \\$crawler of method EliasHaeussler\\\\CacheWarmup\\\\Crawler\\\\CrawlerFactory\\:\\:get\\(\\) expects class\\-string\\<EliasHaeussler\\\\CacheWarmup\\\\Crawler\\\\Crawler\\>, string given\\.$#"
			count: 1
			path: src/Config/Adapter/EnvironmentVariablesConfigAdapter.php

		-
			message: "#^Variable property access on \\$this\\(EliasHaeussler\\\\CacheWarmup\\\\Config\\\\CacheWarmupConfig\\)\\.$#"
			count: 1
			path: src/Config/CacheWarmupConfig.php

		-
			message: "#^Property EliasHaeussler\\\\CacheWarmup\\\\Crawler\\\\AbstractConfigurableCrawler\\<TOptions of array\\<string, mixed\\>\\>\\:\\:\\$options \\(TOptions of array\\<string, mixed\\>\\) does not accept array\\.$#"
			count: 1
			path: src/Crawler/AbstractConfigurableCrawler.php

		-
			message: "#^Parameter \\#1 \\$level \\('alert'\\|'critical'\\|'debug'\\|'emergency'\\|'error'\\|'info'\\|'notice'\\|'warning'\\) of method EliasHaeussler\\\\CacheWarmup\\\\Log\\\\FileLogger\\:\\:log\\(\\) should be contravariant with parameter \\$level \\(mixed\\) of method Psr\\\\Log\\\\AbstractLogger\\:\\:log\\(\\)$#"
			count: 1
			path: src/Log/FileLogger.php

		-
			message: "#^Parameter \\#1 \\$level \\('alert'\\|'critical'\\|'debug'\\|'emergency'\\|'error'\\|'info'\\|'notice'\\|'warning'\\) of method EliasHaeussler\\\\CacheWarmup\\\\Log\\\\FileLogger\\:\\:log\\(\\) should be contravariant with parameter \\$level \\(mixed\\) of method Psr\\\\Log\\\\LoggerInterface\\:\\:log\\(\\)$#"
			count: 1
			path: src/Log/FileLogger.php

		-
			message: "#^Parameter \\#1 \\$level \\('alert'\\|'critical'\\|'debug'\\|'emergency'\\|'error'\\|'info'\\|'notice'\\|'warning'\\) of method EliasHaeussler\\\\CacheWarmup\\\\Log\\\\FileLogger\\:\\:log\\(\\) should be contravariant with parameter \\$level \\(mixed\\) of method Psr\\\\Log\\\\LoggerTrait\\:\\:log\\(\\)$#"
			count: 1
			path: src/Log/FileLogger.php

		-
			message: "#^Parameter \\#3 \\$context \\(array\\<string, mixed\\>\\) of method EliasHaeussler\\\\CacheWarmup\\\\Log\\\\FileLogger\\:\\:log\\(\\) should be contravariant with parameter \\$context \\(array\\) of method Psr\\\\Log\\\\AbstractLogger\\:\\:log\\(\\)$#"
			count: 1
			path: src/Log/FileLogger.php

		-
			message: "#^Parameter \\#3 \\$context \\(array\\<string, mixed\\>\\) of method EliasHaeussler\\\\CacheWarmup\\\\Log\\\\FileLogger\\:\\:log\\(\\) should be contravariant with parameter \\$context \\(array\\) of method Psr\\\\Log\\\\LoggerInterface\\:\\:log\\(\\)$#"
			count: 1
			path: src/Log/FileLogger.php

		-
			message: "#^Parameter \\#3 \\$context \\(array\\<string, mixed\\>\\) of method EliasHaeussler\\\\CacheWarmup\\\\Log\\\\FileLogger\\:\\:log\\(\\) should be contravariant with parameter \\$context \\(array\\) of method Psr\\\\Log\\\\LoggerTrait\\:\\:log\\(\\)$#"
			count: 1
			path: src/Log/FileLogger.php

		-
			message: "#^Parameter \\#1 \\$sitemaps of method EliasHaeussler\\\\CacheWarmup\\\\CacheWarmer\\:\\:addSitemaps\\(\\) expects list\\<EliasHaeussler\\\\CacheWarmup\\\\Sitemap\\\\Sitemap\\|string\\>\\|EliasHaeussler\\\\CacheWarmup\\\\Sitemap\\\\Sitemap\\|string, array\\{false\\} given\\.$#"
			count: 1
			path: tests/unit/CacheWarmerTest.php

		-
			message: "#^Parameter \\#1 \\$limit of method EliasHaeussler\\\\CacheWarmup\\\\Config\\\\CacheWarmupConfig\\:\\:setLimit\\(\\) expects int\\<0, max\\>, \\-10 given\\.$#"
			count: 1
			path: tests/unit/Config/CacheWarmupConfigTest.php

		-
			message: "#^Parameter \\#1 \\$crawler of method EliasHaeussler\\\\CacheWarmup\\\\Crawler\\\\CrawlerFactory\\:\\:get\\(\\) expects class\\-string\\<EliasHaeussler\\\\CacheWarmup\\\\Crawler\\\\Crawler\\>, string given\\.$#"
			count: 2
			path: tests/unit/Crawler/CrawlerFactoryTest.php

		-
			message: "#^Parameter \\#1 \\$crawlerOptions of method EliasHaeussler\\\\CacheWarmup\\\\Crawler\\\\CrawlerFactory\\:\\:parseCrawlerOptions\\(\\) expects array\\<string, mixed\\>\\|string\\|null, array\\<int, string\\> given\\.$#"
			count: 1
			path: tests/unit/Crawler/CrawlerFactoryTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertSame\\(\\) with 'foo' and 'foo' will always evaluate to true\\.$#"
			count: 1
			path: tests/unit/Time/TimeTrackerTest.php
