:root {
    --vp-c-brand-1: var(--vp-c-red-1);
    --vp-c-brand-2: var(--vp-c-red-2);
    --vp-c-brand-3: var(--vp-c-red-3);
    --vp-c-brand-soft: var(--vp-c-red-soft);

    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, var(--vp-c-red-1) 30%, var(--vp-c-red-3));
    --vp-home-hero-name-color: transparent;
}

/* Show badges in one row */
p:has(a > img[src*="shields"]) {
    display: flex;
    flex-flow: wrap;
    gap: 5px;
}

/* Display hero image on large screens */
.VPHero.VPHomeHero.has-image .image {
    display: none;
}
.VPHero.VPHomeHero.has-image .image-container {
    transform: none;
}

@media (min-width: 1280px) {
    .VPHero.VPHomeHero.has-image .image {
        display: initial;
    }

    .VPHero.VPHomeHero.has-image .VPImage.image-src {
        border-radius: 5px;
        max-width: 100%;
        max-height: 100%;
    }
}
