name: CGL
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main

jobs:
  prepare:
    name: Prepare workflow
    uses: eliashaeussler/.github/.github/workflows/pull-request.yaml@main

  cgl:
    runs-on: ubuntu-latest
    needs: prepare
    if: needs.prepare.outputs.continue == 'true'
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      # Prepare environment
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          # We use the minimum supported PHP version
          php-version: 8.2
          ini-file: development
          tools: composer:v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm

      # Validation
      - name: Validate composer.json
        run: composer validate --no-check-lock

      # Install dependencies
      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3
      - name: Install Frontend dependencies
        run: npm ci

      # Audit packages
      - name: Audit Composer dependencies
        run: npm audit
      - name: Audit Frontend dependencies
        run: composer audit

      # Analyze
      - name: Analyze Composer dependencies
        run: composer analyze:dependencies
      - name: Check for unused Frontend dependencies
        run: npm run check-dependencies

      # Linting
      - name: Lint composer.json
        run: composer lint:composer
      - name: Lint Editorconfig
        run: composer lint:editorconfig
      - name: Lint PHP
        run: composer lint:php
      - name: Lint shell files
        run: bash -c 'shopt -s globstar nullglob; shellcheck tests/e2e/**/*.sh'

      # SCA
      - name: SCA PHP
        run: composer sca:php -- --error-format github

      # Migration
      - name: Run Rector migration
        run: composer migration:rector -- --dry-run
